@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.card__container{
    margin-top: 60px;
 
}

.card{
    
    width: 250px;
    height: 140px;
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-bottom: 50px;
    transition: .3s ease-in-out;
    position: relative;
    border-radius: 30px;

}

.image__container img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    transform: scale(0.9);
    transition: .3s ease-in;
    position: absolute;
    top:-20%;
    left: 3%;
  
   
    
}

.image__container img:hover{
    transform: scale(1.1);
}

.card:hover{
    transform:scale(1.1)
}
.icons__section{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding-right: 20px;
    position: absolute;
    top:15%;
    right: 5%;
}

.wishlist__icon ,.smallcart__icon{
  font-size: 20px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}


.item__details__section .item__name{
    color: var(--title-color);
    font-size: 1.4rem;
    font-family: var(--h3-font-family);
    font-weight: bold;
    position: absolute;
    top: 65%;
    left: 5%;
}

.item__details__section .item__price{
    color: black;
    font-size: 1.3rem;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    position: absolute;
    top: 65%;
    right: 5%;
}


